<div id="settings-content" class="container-flex-row">
  <form [formGroup]="globalForm">
    <div id="global-settings" class="container-flex-column">
      <div class="container-flex-row">
        <div class="container-flex-column">
          <div class="container-flex-row">
            <label for="width">Image Width: </label>
            <input id="width" type="number" step="10" min="100" max="3000" size="3" formControlName="width" (keyup.enter)="width_input.blur()" #width_input>
          </div>
          <div class="container-flex-row">
            <label for="featureHeight">Feature Height: </label>
            <input id="featureHeight" type="number" step="5" min="5" max="100" size="3" formControlName="featureHeight" (keyup.enter)="featureHeight_input.blur()" #featureHeight_input>
          </div>
          <div class="container-flex-row">
            <input id="showScale" type="checkbox" formControlName="showScale">
            <label for="showScale">Show Scale</label>
          </div>
        </div>
        <div class="container-flex-column">
          <div class="container-flex-row">
            <input id="multilane" type="checkbox" formControlName="multilane">
            <label for="mulilane">Multiple Lanes</label>
          </div>
          <div class="container-flex-row">
            <input id="gaps" type="checkbox" formControlName="gaps">
            <label for="gaps">Keep Gaps</label>
          </div>
          <div class="container-flex-row">
            <input id="overlap" type="checkbox" formControlName="overlap">
            <label for="overlap">Allow Overlapping</label>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div id="group-settings" class="container-flex-column">
    <div>Groups</div>
    <div>Something 1</div>
    <div>Something 2</div>
    <div>Something 3</div>
  </div>
  <div *ngIf="displaySelectedSettings()">
  </div>
</div>
