<div class="editor-section">
  <div class="column">
    <div class="title-row">
      <span class="title-text">Your GeneGraphics</span>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Selected Gene Graphic</mat-label>
      <mat-select
        #selectEl
        [formControl]="selectCtrl"
        (selectionChange)="onSelect($event)"
      >
        <mat-option
          *ngFor="let geneGraphic of geneGraphics"
          [value]="geneGraphic.id"
        >
          <strong>{{ geneGraphic.name }}</strong>
          <br />
          <em style="font-size: 12px"
            >&nbsp;&nbsp;&nbsp;&nbsp;(Last Opened:&nbsp;{{
              getDateStr(geneGraphic.opened) | async
            }})
          </em>
        </mat-option>
        <mat-option value="0">Add new...</mat-option>
      </mat-select>
    </mat-form-field>
    <button
      mat-raised-button
      matTooltip="Delete the selected Gene Graphic."
      tooltipClass="tooltip"
      class="centered"
      color="warn"
      (click)="onClickDelete()"
    >
      <mat-icon>delete_forever</mat-icon>
      Delete
    </button>
  </div>
</div>
<app-file-upload
  class="editor-section"
  [geneGraphic]="geneGraphic"
></app-file-upload>
<app-ncbi-fetch
  class="editor-section"
  [geneGraphic]="geneGraphic"
></app-ncbi-fetch>
