<div class="editor-section-row title-row">
  <h1>Gene Graphics</h1>
  <a mat-icon-button 
    id="github-button"
    color="primary" 
    href="https://github.com/katlabs/genegraphics"
    target="_blank">
    <fa-icon [icon]="faGithub"></fa-icon>
  </a>
</div>
<div class="editor-section-row">
  <div class="editor-section-column">
    <span>
      Viewing and comparing gene neighborhoods is a common step in comparative
      genomics and gene analysis. We present, “Gene Graphics”, an application
      that allows for consistent, visually appealing representations of physical
      gene neighborhoods with minimal effort or expertise.<br/><br/>
      Given a standard input file, “Gene Graphics” generates a default layout
      that is designed to be immediately usable. Within the graphical interface,
      users can customize colors, fonts, sizes, and positions of gene names,
        both individually and globally.<br/><br/>
      <strong
        >Gene Graphics: a genomic neighborhood data visualization web
        application.</strong
      ><br/>
      Harrison KJ, de Crécy-Lagard V, Zallot R.<br>
      Bioinformatics. Published 2017 Dec 7. doi: 10.1093/bioinformatics/btx793. [Epub ahead of print]<br>
      PMID: 29228171
    </span>
  </div>
  <div class="editor-section-column"></div>
</div>
