#about-column {
  width: fit-content;
}

#about-header {
  position: relative;

  h1 {
    color: var(--color-primary-darker);
    margin: 0.5rem;
  }

  a {
    position: absolute;
    right: 0;
  }
}

#about-body {
  gap: 1rem;

  #about-text {
    width: 60%;
    text-align: justify;
  }
  #citation {
    width: 40%;
    h3 {
      color: var(--color-primary);
      margin: 0;
      margin-bottom: 0.5rem;
      text-align: justify;
    }
  }
}
