<div class="editor-section-title">
  <span class="editor-section-title-text">Import from file</span>
</div>
<input id="uploader" type="file" (change)="onFileChange($event)" style="display:none;" />
<div id="description">
  <span>Acceptable files include:</span>
    <ul>
      <li>TSV files from Seed</li>
      <li>Legacy TSV save files from genegraphics v1</li>
      <li>TSV files from gizmogene.com</li>
      <li>Genbank files</li>
    </ul>
</div>
<div class="editor-section-row">
  <button mat-raised-button color="primary" (click)="onClick(false)">
    <mat-icon>upload</mat-icon>
    Upload to Current
  </button>
  <button mat-raised-button color="primary" (click)="onClick(true)">
    <mat-icon>add</mat-icon>
    Upload to New
  </button>
</div>
