<div class="editor-section-title">
  <span class="editor-section-title-text">Import From NCBI</span>
</div>
<form [formGroup]="ncbiForm">
  <mat-form-field appearance="fill">
    <mat-label>Search by</mat-label>
    <mat-select>
      <mat-option>Gene ID</mat-option>
      <mat-option>Protein ID</mat-option>
      <mat-option>Gene Symbol and Genome</mat-option>
      <mat-option>Genome Region</mat-option>
      <mat-option>UniprotKB Accession</mat-option>
    </mat-select>
  </mat-form-field>
</form>
