<md-content class="md-padding">
	<div ng-controller="graphCtrl">
	<md-toolbar class="md-menu-toolbar">
	<md-menu-bar id="mainmenubar">
		<md-menu>
			<button ng-click="$mdOpenMenu()" class="md-raised md-primary">
				Input
			</button>
			<md-menu-content width="100px" ng-controller="FileCtrl">
				<md-menu-item >
					<input type="file" name="file" id="file" class="inputfile" on-read-file="parseFile($fileContent, $fileType)"/>
					<label for="file" class="md-button md-ink-ripple" role="menuitem">
						Choose a File
					</label>
				</md-menu-item>
				<md-menu-item>
					<md-button ng-click="showWebGenomePopup();">
							Choose a Genome
					</md-button>
				</md-menu-item>
				<md-menu-item >
					<md-button ng-click="clearAllGenomes();">
							Clear All Genomes
					</md-button>
				</md-menu-item>
			</md-menu-content>
		</md-menu>
		<md-menu>
			<button ng-click="$mdOpenMenu()" class="md-raised md-primary">
				Graph Settings
			</button>
			<md-menu-content width="150px">
				<h3>Size settings</h3>
				<md-menu-item>
					<span>Image width</span>
					<span><input type="text" id="widthtxt" step=10 ng-model="graphSettings.graphwidth" update-on-enter ng-model-options="{ updateOn: 'blur' }" ng-change="changeGraphWidth(graphSettings.graphwidth);" > px</span>
				</md-menu-item>
				<md-menu-item>
					<span>Gene height</span>
					<span><input type="text" id="featureheighttxt" ng-model="graphSettings.featureheight" update-on-enter ng-model-options="{ updateOn: 'blur' }" ng-change="changeFeatureHeight(graphSettings.featureheight);"> px</span>
				</md-menu-item>
				<md-menu-item>
					<span style = "font-style:italic; font-size:10px">Press [Enter] to apply changes.</span>
				</md-menu-item>
				<md-menu-divider></md-menu-divider>
				<h3>Lane settings</h3>
				<md-menu-item>
				<span><md-checkbox ng-model="graphSettings.multilane" ng-click="clickMultiLane()">
					Multiple lanes for overlapping genes</span>
				</md-menu-item>
				<md-menu-item>
				<span><md-checkbox ng-disabled="graphSettings.multilane" ng-model="graphSettings.shiftgenes" ng-click="clickShiftgenes()">
					Shift overlapping genes</span>
				</md-menu-item>
				<md-menu-item>
				<span><md-checkbox ng-disabled="!graphSettings.shiftgenes" ng-model="graphSettings.keepgaps" >
					keep gaps between genes</span>
				</md-menu-item>
				<md-menu-divider></md-menu-divider>
				<h3>Scale</h3>
				<md-menu-item>
				<span><md-checkbox ng-model="graphSettings.scaleOn">
					Scale on</span>
				</md-menu-item>
			</md-menu-content>
		</md-menu>
		<md-menu>
			<button ng-click="$mdOpenMenu()" class="md-raised md-primary">
				Label Settings
			</button>
			<md-menu-content>
				<h3>Font Defaults</h3>
				<md-menu-item>
					<span>Font size</span>
					<span style="white-space:nowrap"><input type="number" ng-model="graphSettings.fontSize" min="5" max="32"> px</span><br>
				</md-menu-item>
				<md-menu-item>
					<md-menu>
						<md-button ng-click="$mdOpenMenu()">Font Family</md-button>
							<md-menu-content>
							<md-radio-group ng-model="graphSettings.fontFamily">
								<md-radio-button ng-repeat="d in graphSettings.fontFamilyOptions" ng-value="d.value" aria-label="{{ d.name }}"> {{d.name}} </md-radio-button>
							</md-radio-group>
						</md-menu-content>
					</md-menu>
				</md-menu-item>
				<md-menu-item>
					<md-menu>
						<md-button ng-click="$mdOpenMenu()">Font Style</md-button>
							<md-menu-content>
							<md-radio-group ng-model="graphSettings.fontStyle">
								<md-radio-button ng-repeat="d in graphSettings.fontStyleOptions" ng-value="d.value" aria-label="{{ d.name }}"> {{d.name}} </md-radio-button>
							</md-radio-group>
						</md-menu-content>
					</md-menu>
				</md-menu-item>
				<md-menu-divider></md-menu-divider>
				<h3>Label Defaults</h3>
				<md-menu-item>
					<md-menu>
						<md-button ng-click="$mdOpenMenu()">Position</md-button>
						<md-menu-content>
							<md-radio-group ng-model="graphSettings.labelPosition">
								<md-radio-button value="above" ng-model="graphSettings.labelPosition" >Above</md-radio-button>
								<md-radio-button value="middle" ng-model="graphSettings.labelPosition" >Middle</md-radio-button>
								<md-radio-button value="below" ng-model="graphSettings.labelPosition" >Below</md-radio-button>
							</md-radio-group>
						</md-menu-content>
					</md-menu>
				</md-menu-item>
				<md-menu-item>
					<md-button type="button" value="hide all labels" ng-click="changeAllLabels(true);">Hide all labels</md-button>
				</md-menu-item>
				<md-menu-item>
					<md-button type="button" value="show all labels" ng-click="changeAllLabels(false);">Show all labels</md-button>
				</md-menu-item>
				<md-menu-item>
					<md-button type="button" value="black labels" ng-click="colorAllLabels('#000000');">Black labels</md-button>
				</md-menu-item>
				<md-menu-item>
					<md-button type="button" value="white labels" ng-click="colorAllLabels('#ffffff');">White labels</md-button>
				</md-menu-item>
			</md-menu-content>
		</md-menu>
		<button ng-exportbutton class="md-raised md-primary" ng-click="openExportPanel();" data="geneData" settings="graphSettings" showexportpanel="showExportPanel">
			Export
		</button>
		<span style="float:right;">{{graphSettings.displayedFunction}}</span>
	</md-menu-bar>
</md-toolbar>
	<div id="graphcontainer">
		<d3-genes data="geneData" settings="graphSettings" genomeshidestatus="genomesHideStatus" on-click="selectGene(index, x, y)" on-click-genome="selectGenome(genomeindex, wordindex, x, y)" on-mouse-over-gene="changeDisplayedFunction(newfunction)" on-drag="dragLabel(i, newx, newy)"></d3-genes>
	</div>
	<div> Files: 
		<span ng-hide="graphSettings.currentFilesList.length">No file chosen</span>
		<span ng-repeat="file in graphSettings.currentFilesList">{{file}}{{$last ? '' : ', '}}</span>
	</div>
	<div id="popupmenu" ng-controller="FileCtrl" ng-show="showPopupMenu">
		<button class="xoutbutton" ng-click="closePopup(-1);">
				X
		</button>
		Import Genbank File from NCBI<br>
		Genbank ID: <input type="text" ng-model="genbankID" style="width: 140px;"/><br>
		Region:<br> 
		<form action="">
			<input type="radio" name="sequence" label="whole" value="whole" ng-model="seqRange" selected="true">Whole sequence<br>
			<input type="radio" name="sequence" label="custom" value="custom" ng-model="seqRange" >Custom region:<br>	
		</form>
			from: <input type="number" ng-model="seqRangeStart"> to: <input type="number" ng-model="seqRangeEnd"><br>
		<button ng-click="submitNCBIQuery();" style="right:0;">Submit</button><br>
		<span id="statusmessage">{{statusMessage}}</span>
	</div>
	<div id="exportpanel" ng-show="showExportPanel">
		<button class="xoutbutton" ng-click="closeExportPanel();">
				X
		</button>
		To save a file, right click on the link and choose "Save As". (On Mac:⌘ + click and "Download linked file as..." Then, give the file a name and the correct file extension on the save prompt.)<br><br>
		<a id="pnglink" href="" download="newgenegraphic.png">Export PNG</a><br><br>
		<a id="svglink" href="" download="newgenegraphic.svg">Export SVG</a><br><br>
		<a id="tsvlink" href="" download="newgenegraphic.tsv">Export TSV</a><br>
	</div>
	<div id="geneMenu" ng-click="$emit('menuClicked', event.target)" ng-show="menuVisible == true">
		<div ng-show="(selectedGene >= 0) && menuVisible == true">
			<h3>Selected gene options</h3> 
			Name: <input type="text" ng-model="geneData[selectedGene]['name']" /><br>
			Colors<br>
			Gene: <spectrum-colorpicker format="'hex'" ng-model="geneData[selectedGene]['color']"></spectrum-colorpicker><input type="text" ng-model="geneData[selectedGene]['color']"><br>
			Label: <spectrum-colorpicker format="'hex'" ng-model="geneData[selectedGene]['labelcolor']" ng-change="changeLabelColor(selectedGene);" ></spectrum-colorpicker><input type="text" ng-model="geneData[selectedGene]['labelcolor']">
			<select ng-model="geneData[selectedGene]['labelstyle']" ng-change="changeLabelStyle(selectedGene)">
				<option value='normal'>Normal</option>
				<option value='italic'><i>Italic</i></option>
				<option value='bold'><b>Bold</b></option>
				<option value='bold,italic'><b><i>Bold/Italic</b></i></option>
			</select><br>
			Hide label: <input type="checkbox" ng-model="geneData[selectedGene]['labelhidden']">
			Hide gene: <input type="checkbox" ng-model="geneData[selectedGene]['genehidden']"><br>
			<button ng-click="copyGeneAttrs(selectedGene);">Copy Gene Colors</button>
			<button ng-click="pasteGeneAttrs(selectedGene);">Paste Gene Colors</button>
			
		</div>
		<div ng-show="selectedGenome >= 0 && menuVisible == true">
			{{geneData[selectedGenome]['genome'][selectedWord]}}<br>
			Style: 
			<select ng-model="geneData[selectedGenome]['genomestyles'][selectedWord]">
				<option value='normal'>Normal</option>
				<option value='italic'><i>Italic</i></option>
				<option value='bold'><b>Bold</b></option>
				<option value='bold,italic'><b><i>Bold/Italic</b></i></option>
			</select>
		</div>
	</div>
</div>
</md-content>