<md-content class="md-padding">
	<h1 class="md-display-2">Gene Graphics</h1>
	<p>Viewing and comparing gene neighborhoods is a common step in comparative genomics and gene analysis. We present, “Gene Graphics”, an application that allows for consistent, visually appealing representations of physical gene neighborhoods with minimal effort or expertise.</p>
	<p>Given a standard input file, “Gene Graphics” generates a default layout that is designed to be immediately usable. Within the graphical interface, users can customize colors, fonts, sizes, and positions of gene names, both individually and globally.</p>
	<p>Users may export images as portable network graphics (PNG) files, high-quality vector graphics (SVG) files, Tagged Image File Format (TIFF) or Encapsulated Postscript (EPS) vector graphics. These accurate and visually appealing representations of gene neighborhood data can be easily imported into a publication or used to maintain a high-quality record.</p>
	<p>Gene Graphics has been tested on Firefox 56, Chrome 61, and Safari 11. Older versions of these browsers and other browsers may not be compatible with the application.</p>
	<p><strong>Gene Graphics: a genomic neighborhood data visualization web application.</strong><br />
		Harrison KJ, de Crécy-Lagard V, Zallot R.<br />
		Bioinformatics. Published 2017 Dec 7. doi: 10.1093/bioinformatics/btx793. [Epub ahead of print]<br />
	PMID: 29228171</p>
	<a href="https://github.com/katlabs/genegraphics" target="_blank"><img src="images/GitHub-Mark-32px.png">Hosted on Github</a>
</md-content>
