<div id="popupbox" ng-show="showPopupMenu" ng-controller="popupCtrl">
	<!-- The button to close the popup menu -->
	<button class="xoutbutton md-icon-button" ng-click="closePopup();">
		<md-icon class="material-icons blueicon md-18">close</md-icon>
	</button>
	
	<!-- Selection of genbank files -->
	<div id="GBSelect" ng-controller="gbAutoCompCtrl" class="popupcontentsglb" ng-show="showGBSelect">
		<h4>Fetch from NCBI</h4>
		<md-input-container class="md-block" flex-gt-sm>
			<label>Search by</label>
			<md-select ng-model="gb.idtype" ng-model-options="{trackBy: '$value.display'}">
				<md-option ng-repeat="type in gb.idtypes" ng-value="{{type}}">
					{{type.display}}
				</md-option>
			</md-select>
		</md-input-container>
		<md-input-container class="md-block" ng-show="gb.idtype.display=='Gene symbol and organism'" flex-gt-sm>
			<label>Gene symbol</label>
			<input ng-model="gb.geneName">
		</md-input-container>
		<md-input-container class="md-block" ng-show="gb.idtype.display=='Gene ID'||gb.idtype.display=='Protein ID'" flex-gt-sm>
			<label>{{gb.idtype.display}}</label>
			<input ng-model="gb.fetchID">
		</md-input-container>
		<md-input-container ng-controller="gbAutoCompCtrl" class="md-block" ng-show="gb.idtype.display=='Genome location'||gb.idtype.display=='Gene symbol and organism'" flex-gt-sm>
			<label>Organism name or ID</label>
				<md-autocomplete
					class="gbTextBox"
					ng-disabled="false"
					md-clear-button="true"
					md-no-cache="false"
					md-selected-item="gb.selectedItem"
					md-search-text="gb.searchText"
					md-selected-item-change="gbItemChanged()"
					md-search-text-change="gbSearchTextChanged()"
					md-items="item in querySearch(gb.searchText)"
					md-item-text="item.organism"
					md-min-length="1"
					md-menu-class="autocomplete-custom-template">
					<md-item-template>
						<span class="item-title">
							<span md-highlight-text="gb.searchText" md-highlight-flags="i"> {{item.organism}} </span>
						</span>
						<span class="item-metadata">
							<span>
								<span md-highlight-text="gb.searchText" md-highlight-flags="i">RefSeq ID: {{item.refseqid}}</span>
								<span md-highlight-text="gb.searchText" md-highlight-flags="i">GenBank ID: {{item.gbid}}</span>
							</span>
						</span>
					</md-item-template>
				</md-autocomplete>
		</md-input-container> 
		<div layout-gt-sm="row" ng-show="gb.idtype.display=='Genome location'">
			<md-input-container class="md-block" flex-gt-sm>
				<label>Region start (bp)</label>
				<input ng-model="gb.seqRangeStart" type="number" step="1">
			</md-input-container>
			<div flex="5" hide-xs hide-sm></div>
			<md-input-container class="md-block" flex-gt-sm>
				<label>Region end (bp)</label>
				<input ng-model="gb.seqRangeEnd" type="number" step="1">
			</md-input-container>
		</div>
		<div layout-gt-sm="row" ng-hide="gb.idtype.display=='Genome location'">
			<md-input-container class="md-block" flex-gt-sm>
				<label>Region size (bp)</label>
				<input ng-model="gb.fullRange" type="number" step="1">
			</md-input-container>
		</div>
		<button class="btn1 md-button md-raised md-primary" ng-click="submitNCBIQuery();">Submit</button><br>
		<md-progress-linear ng-show="gb.loadingFile" md-mode="indeterminate"></md-progress-linear>
		<span id="statusmessage">{{gb.statusMessage}}</span>
	</div>
	
	<!-- Export panel -->
	<div id="exportPanel" class="popupcontentsglb" ng-show="showExportPanel">
		<h4>Export Files</h4> 
		To save a file, right click on the link and choose "Save As". (On Mac:⌘ + click and "Download linked file as..." Then, give the file a name and the correct file extension on the save prompt.)<br><br>
		<a id="pnglink" href="" download="newgenegraphic.png">Export PNG</a><br><br>
		<a id="svglink" href="" download="newgenegraphic.svg">Export SVG</a><br><br>
		<a id="tsvlink" href="" download="newgenegraphic.tsv">Export TSV</a><br>
	</div>
	
	<!-- Menu for editing a gene -->
	<div id="geneMenu" ng-show="showGeneMenu">
		<div layout="row" layout-align="space-between center">
			<h4>Edit Gene Properties</h4> 
			<div>
				<button class="icoIndivBtn md-icon-button" ng-click="openPopup('genecpDialog');">
					<md-tooltip>
						Copy color settings
					</md-tooltip>
					<md-icon class="material-icons md-18 blueicon">content_copy</md-icon>
				</button>
				<button class="icoIndivBtn md-icon-button" ng-click="toggleLockGene(graphSettings.selectedGene)">
					<md-tooltip>
						{{geneData[graphSettings.selectedGene]['genelocked'] === true ? 'Unlock' : 'Lock'}} gene label
					</md-tooltip>
					<md-icon class="material-icons md-18 blueicon">{{geneData[graphSettings.selectedGene]['genelocked'] === true ? 'lock_outline' : 'lock_open'}}</md-icon>
				</button>
				<button class="icoIndivBtn md-icon-button" ng-click="deleteGene(graphSettings.selectedGene);">
					<md-tooltip>
						Delete this gene
					</md-tooltip>
					<md-icon class="material-icons md-18 blueicon">delete_forever</md-icon>
				</button>
				<spectrum-colorpicker 
					ng-model="geneData[graphSettings.selectedGene]['color']" options="spectrumOpts">
				</spectrum-colorpicker>
				<md-tooltip>Gene color</md-tooltip>
			</div>
		</div>
		<textarea ui-tinymce="tinymceOpts" ng-model="geneData[graphSettings.selectedGene]['namehtml']"></textarea><br>
	</div>
	
	<!-- Menu for editing a genome name  -->
	<div id="genomeMenu" ng-show="showGenomeMenu">
		<div layout="row" layout-align="space-between center">
			<h4>Edit Genome</h4>
			<div>
			<button class="icoIndivBtn md-icon-button" ng-click="toggleLockGenome(genome.newGenome)">
				<md-tooltip>
					{{geneData[genomesHash[genome.newGenome][0]]['genomelocked'] === true ? 'Unlock' : 'Lock'}} genome label
				</md-tooltip>
				<md-icon class="material-icons md-18 blueicon">{{geneData[genomesHash[genome.newGenome][0]]['genomelocked'] === true ? 'lock_outline' : 'lock_open'}}</md-icon>
			</button>
			<button class="icoIndivBtn md-icon-button" ng-click="deleteGenome(graphSettings.selectedGene);">
				<md-tooltip>
					Delete this genome
				</md-tooltip>
				<md-icon class="material-icons md-18 blueicon">delete_forever</md-icon>
			</button>
			</div>
		</div>
		<textarea ui-tinymce="tinymceOpts" ng-model="genome.newGenome" ng-change="editGenomeName()"></textarea>
	</div>
	
	<!-- Dialog for graph size settings -->
	<div id="graphSizeDialog" ng-show="showGraphSizeDialog">
		<h4>Edit Graph Size Settings</h4> 
		<span>
			Image width
		</span>
		<span>
			<input type="number" min="30" max="3000" id="widthtxt" ng-model="graphSettings.graphwidth" update-on-enter ng-model-options="{ updateOn: 'blur' }" ng-change="changeGraphWidth(graphSettings.graphwidth);" >
			px
		</span><br>
		<span>Gene height</span>
		<span><input type="number" min="5" max="200" id="featureheighttxt" ng-model="graphSettings.featureheight" update-on-enter ng-model-options="{ updateOn: 'blur' }" ng-change="changeFeatureHeight(graphSettings.featureheight);"> 
			px
		</span><br>
		<button class="btn1 md-button md-raised md-primary" style="right:0;">Update</button>
	</div>
	
	<!-- Dialog for Lane Settings -->
	<div id="laneDialog" ng-show="showLaneDialog">
		<h4>Edit Lane Settings</h4> 
		<md-switch class="md-primary" ng-model="graphSettings.multilane" ng-click="clickMultiLane()">
			{{graphSettings.multilane === true ? "Overlapping genes move to a new lane" : "All genes will be on the same lane"}}
		</md-switch>
		<md-switch class="md-primary" ng-disabled="graphSettings.multilane" ng-model="graphSettings.shiftgenes" ng-click="clickShiftgenes()">
			{{graphSettings.shiftgenes === true ? "Overlapping genes are shifted" : "Genes may overlap each other"}}
		</md-switch>
		<md-switch class="md-primary" ng-disabled="!graphSettings.shiftgenes || graphSettings.multilane" ng-model="graphSettings.keepgaps">
			{{graphSettings.keepgaps === true ? "Gaps between genes are visible" : "No gaps are shown between genes"}}
		</md-switch>
	</div>
	
	<!-- Dialog for Scale Settings -->
	<div id="scaleDialog" ng-show="showScaleDialog">
		<h4>Edit Scale Settings</h4>
		<md-switch ng-model="graphSettings.scaleOn">
			{{graphSettings.scaleOn === true ? "Scale is on" : "Scale is off"}}
		</md-switch>
	</div>

	<!-- Dialog for Gene Shape Settings -->
	<div id="shapeDialog" ng-show="showShapeDialog">
		<h4>Edit Gene Shape</h4>
		<md-switch ng-model="graphSettings.arrows">
			<md-icon class="material-icons md-18 blueicon">
				{{graphSettings.arrows === true ? 'compare_arrows' : 'label_outline'}}
			</md-icon>
				{{graphSettings.arrows === true ? 'Arrows' : 'Tags'}}
		</md-switch>
	</div>
	
	<!-- Global Dialog for Genome or Gene Labels -->
	<div id="globalLabels" class="popupcontentsglb" ng-show="showGlobalGenome || showGlobalGene">
		<h4>Change Settings for All {{showGlobalGenome ? 'Genome' : 'Gene'}} Labels</h4>
		<div id="TB1" class="customToolbar">
			<div id="TB1g1" class="customBtnGrp">
				<button id="alignleft" class="icoFormatBtn md-icon-button" ng-click="globalAlign((showGlobalGenome ? 'genomes' : 'genes'),'left');">
					<md-tooltip>
						Align left
					</md-tooltip>
					<md-icon class="material-icons md-16 blackicon">format_align_left</md-icon>
				</button>
				<button id="aligncenter" class="icoFormatBtn md-icon-button" ng-click="globalAlign((showGlobalGenome ? 'genomes' : 'genes'),'center');">
					<md-tooltip>
						Align center
					</md-tooltip>
					<md-icon class="material-icons md-16 blackicon">format_align_center</md-icon>
				</button>		
				<button id="alignright" class="icoFormatBtn md-icon-button" ng-click="globalAlign((showGlobalGenome ? 'genomes' : 'genes'),'right');">
					<md-tooltip>
						Align right
					</md-tooltip>
					<md-icon class="material-icons md-16 blackicon">format_align_right</md-icon>
				</button>
			</div>
			<div id="TB1g2" class="customBtnGrp">
				<md-menu class="fontSizeMenu" md-position-mode="target-left bottom">
					<button class="icoFormatBtn md-icon-button" ng-click="openFontSizeMenu($mdOpenMenu, $event)">
						<md-tooltip>
							Font Sizes
						</md-tooltip>
						<md-icon class="material-icons md-16 blackicon">format_size</md-icon>
					</button>
					<md-menu-content width="2">
						<md-menu-item ng-repeat="size in graphSettings.fontSizeOptions">
							<button class="md-button btn2" ng-click="globalFontSize((showGlobalGenome ? 'genomes' : 'genes'), size)">{{size}}</button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
				<button id="globalBold" class="icoFormatBtn md-icon-button" ng-click="globalBold((showGlobalGenome ? 'genomes' : 'genes'));">
					<md-tooltip>
						Bold
					</md-tooltip>
					<md-icon class="material-icons md-16 blackicon">format_bold</md-icon>
				</button>
				<button id="globalEm" class="icoFormatBtn md-icon-button" ng-click="globalEm((showGlobalGenome ? 'genomes' : 'genes'));">
					<md-tooltip>
						Italic
					</md-tooltip>
					<md-icon class="material-icons md-16 blackicon">format_italic</md-icon>
				</button>
			</div>
		</div>
		<div id="TB2" class="customToolbar">
			<div id="TB2g1" class="customBtnGrp">
				<button id="topgenes" class="icoFormatBtn md-icon-button" ng-disabled="showGlobalGenome" ng-click="globalAlign('genes','top');">
					<md-tooltip>
						Align top
					</md-tooltip>
					<md-icon class="material-icons md-16 {{showGlobalGenome ? 'grayicon' : 'blackicon'}}">vertical_align_top</md-icon>
				</button>		
				<button id="middlegenes" class="icoFormatBtn md-icon-button" ng-disabled="showGlobalGenome" ng-click="globalAlign('genes','middle');">
					<md-tooltip>
						Align middle
					</md-tooltip>
					<md-icon class="material-icons md-16 {{showGlobalGenome ? 'grayicon' : 'blackicon'}}">vertical_align_center</md-icon>
				</button>		
				<button id="bottomgenes" class="icoFormatBtn md-icon-button" ng-disabled="showGlobalGenome" ng-click="globalAlign('genes','bottom');">
					<md-tooltip>
						Align bottom
					</md-tooltip>
					<md-icon class="material-icons md-16 {{showGlobalGenome ? 'grayicon' : 'blackicon'}}">vertical_align_bottom</md-icon>
				</button>	
			</div>
			<div id="TB2g2" class="customBtnGrp">
				<spectrum-colorpicker ng-show="showGlobalGenome"
					ng-model="globalLabels.genomeColor" options="spectrumOpts">
				</spectrum-colorpicker>
				<spectrum-colorpicker ng-show="showGlobalGene"
					ng-model="globalLabels.geneColor" options="spectrumOpts">
				</spectrum-colorpicker>
				<md-tooltip>Label color</md-tooltip>
			</div>
			<div id="TB2g3" class="customBtnGrp">
				<button id="unlocklabels" class="icoFormatBtn md-icon-button" ng-click="unlockLabels((showGlobalGenome ? 'genome' : 'gene'));">
					<md-tooltip>
						Unlock all {{showGlobalGenome ? 'genome' : 'gene'}} labels
					</md-tooltip>
					<md-icon class="material-icons md-16 blueicon">lock_open</md-icon>
				</button>
			</div>
		</div>
		<div ng-controller="autoCompCtrl" ng-cloak>
			<md-autocomplete
					class="fontFamily"
					ng-disabled="false"
					md-no-cache="true"
					md-selected-item="selectedItem"
					md-search-text="searchText"
					md-selected-item-change="globalFontFamily((showGlobalGenome ? 'genomes' : 'genes'), item)"
					md-items="item in querySearch(searchText)"
					md-item-text="item.name"
					md-min-length="0"
					placeholder="Font Family">
				<md-item-template>
					<span style="font-family: {{item.value}}" md-highlight-text="searchText" md-highlight-flags="^i">{{item.name}}</span>
				</md-item-template>
				<md-not-found>
					No Families matching "{{searchText}}" were found.
				</md-not-found>
			</md-autocomplete>
		</div>
	</div>

	<!-- Gene copy/paste Dialog -->
	<div id="geneCPDialog" ng-show="showGeneCPDialog">
		<h4>Paste gene color settings</h4>
			Choose which attributes to apply, then click on each gene you would like the attributes applied to, and click "Paste".<br/><br/>
			<div>
				<md-checkbox ng-model="copy.settings.genecolor.value">
					{{copy.settings.genecolor.label}}
				</md-checkbox><span id="colorbox" style="background-color: {{geneData[graphSettings.selectedGene]['color']}};"></span><br/>
				<md-checkbox ng-model="copy.settings.labeltext.value">
					{{copy.settings.labeltext.label}}
				</md-checkbox><span id="labeltext">{{geneData[graphSettings.selectedGene]['name']}}</span><br/>
			</div>
		<span >Selected <strong>{{copy.geneClipboard.length}}</strong> gene<span ng-if="copy.geneClipboard.length!=1">s</span>.</span>
		<button class="btn1 md-button md-raised md-primary" ng-click="clickPaste()" style="position:absolute; right: 20px; bottom: 10px;">Paste</button>
	</div>
</div>
