<md-content class="md-padding">

<h1 class="md-display-2">tutorials</h1>
<p class="tutDesc"><b><a href="tutorial1.html" target="_blank">Tutorial 1: DUF89 Subfamily I Neighborhoods</a> Tutorial Under Construction</b><br>
In this tutorial, you will reproduce an image that shows DUF89 subfamily I genes that cluster with purine synthesis genes. You will acquire and edit a TSV file from the the SEED website, upload the file to genegraphics, edit the image, and export the image.</p>
<p class="tutDesc"><b><a href="tutorial2.html" target="_blank">Tutorial 2: Genbank File</a></b><br>
In this tutorial, you will find a genome on NCBI Genbank and use it to create an image.</p>

</md-content>
