<md-content class="md-padding" ng-controller="tutorialCtrl">

<h1 class="md-display-2">Tutorials</h1>
<p class="tutDesc"><b><a href="#" ng-click="slides=tutorial1; currentIndex=0;">Tutorial 1: DUF89 Subfamily I Neighborhoods</a></b><br>
In this tutorial, you will reproduce an image that shows DUF89 subfamily I genes that cluster with purine synthesis genes. You will acquire and edit a TSV file from the the SEED website, upload the file to genegraphics, edit the image, and export the image.</p>
<p class="tutDesc"><b>Tutorial 2: Genbank File</b><br>
In this tutorial, you will find a genome on NCBI Genbank and use it to create an image.</p>

<div id="tutorialcontainer" class="container slider" ng-hide="(slides[0]==null)">
	<button class="xoutbutton" ng-click="slides=[];">X</button><br>
	<h3>Step {{currentIndex+1}}</h3>
	<img ng-repeat="slide in slides" class="slide" ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}"><br>
	<p ng-repeat="slide in slides" class="slideDesc" ng-bind-html="slide.description" ng-hide="!isCurrentSlideIndex($index)"></p><br>
	<div id="navbuttonpanel">
		<button class="navarrow" href="#" ng-click="nextSlide()" ng-disabled="currentIndex==0"><</button>
		<button class="navarrow" href="#" ng-click="prevSlide()" ng-disabled="currentIndex==slides.length-1">></button>
	</div>
</div>

</md-content>