<md-content class="md-padding">
<h1 class="md-display-2">Tutorial</h1>
<h2>Finding and Loading Files</h2>
<h3>SEED Files</h3>
<p style="width:66%;">TSV files from the SEED website can be loaded into the Gene Graphics tool. In order to obtain a file from SEED, visit <a href="http://open.theseed.org/">http://open.theseed.org/</a> and search for a gene in the center of the region you would like to display. For this example, we will use <a href="http://open.theseed.org/FIG/seedviewer.cgi?page=Annotation&feature=fig|4932.3.peg.1649">a gene found in Saccharomyces cerevisiae</a>.</p>

<table style="width:66%;">
	<tr>
		<td style="width:50%;"><p>On the gene annotation page, scroll down to the tabbed box that shows the "Visual Region Information". Click on the tab that says "Tabular Region Information". Click on the "export table" button. You will be able to save a TSV file to your computer.</p>
		</td>
		<td style="width:50%;"><img src="/data/tutorial/img1.png">
		</td>
	</tr>
	<tr>
		<td style="width:50%;"><img src="/data/tutorial/img2.png" width="600 px">
		</td>
		<td style="width:50%;"><p>Once you have saved the file, navigate to the Gene Graphics tool. Click on "Input", then "Choose a File", Open the file that you saved from SEED.</p>
		</td>
	</tr>
	<tr>
		<td style="width:50%;"><p>The graphic should look similar to the image on the right. This file can also be pre-loaded into the Gene Graphics app by clicking Input > Tutorial Files > file1.tsv .</p>
		</td>
		<td style="width:50%;"><img src="/data/tutorial/img3.png">
		</td>
	</tr>
</table>

<h3>Genbank Files</h3>
<table style="width:66%;">
	<tr>
		<td style="width:50%;"><p></p>
		</td>
		<td style="width:50%;"><img src="/data/tutorial/img4.png">
		</td>
	</tr>
	<tr>
		<td style="width:50%;"><img src="/data/tutorial/img5.png" width="600 px">
		</td>
		<td style="width:50%;"><p></p>
		</td>
	</tr>
	<tr>
		<td style="width:50%;"><p></p>
		</td>
		<td style="width:50%;"><img src="/data/tutorial/img6.png">
		</td>
	</tr>
</table>


</md-content>