$gg-blue-palette: (
    50 : #e2eff6,
    100 : #b6d6e9,
    200 : #86bbdb,
    300 : #56a0cc,
    400 : #318bc1,
    500 : #0d77b6,
    600 : #0b6faf,
    700 : #0964a6,
    800 : #075a9e,
    900 : #03478e,
    A100 : #bad8ff,
    A200 : #87baff,
    A400 : #549dff,
    A700 : #3b8eff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$gg-green-palette: (
    50 : #ebf4f6,
    100 : #cee4e9,
    200 : #add2da,
    300 : #8cbfcb,
    400 : #74b2c0,
    500 : #5ba4b5,
    600 : #539cae,
    700 : #4992a5,
    800 : #40899d,
    900 : #2f788d,
    A100 : #d4f5ff,
    A200 : #a1e9ff,
    A400 : #6edcff,
    A700 : #55d6ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
