<div class="editor-section">
  <div class="column">
    <div class="title-row">
      <span class="title-text">Saved Selections</span>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Your Saved Selections</mat-label>
      <mat-select [formControl]="selectCtrl">
        <mat-option
          *ngFor="let selection of savedSelections"
          [value]="selection"
        >
          {{ selection.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      *ngIf="
        !isSavedSelection(selectCtrl.value) &&
        selectCtrl.value.type !== 'geneGraphic' &&
        selectCtrl.value.type !== 'empty'
      "
    >
      <mat-label>New Selection Name</mat-label>
      <input matInput type="text" [formControl]="saveCtrl" />
    </mat-form-field>
    <button
      mat-raised-button
      *ngIf="
        !isSavedSelection(selectCtrl.value) &&
        selectCtrl.value.type !== 'geneGraphic' &&
        selectCtrl.value.type !== 'empty'
      "
      color="primary"
      type="submit"
      (click)="saveNewSelection()"
    >
      Save New Selection
    </button>
    <button
      mat-raised-button
      *ngIf="isSavedSelection(selectCtrl.value)"
      color="primary"
      type="button"
      (click)="deleteSavedSelection()"
    >
      Delete
    </button>
  </div>
  <div class="column">
    <div class="title-row">
      <span class="title-text">Click to Select...</span>
    </div>
    <button mat-raised-button (click)="selectAllRegions()">All Regions</button>
    <button mat-raised-button (click)="selectAllFeatures()">
      All Features
    </button>
    <button
      mat-raised-button
      *ngIf="selectCtrl.value.type === 'region'"
      (click)="selectFeaturesFromRegions()"
    >
      Features of Selected Regions
    </button>
    <button
      mat-raised-button
      *ngIf="this.featureHomologs !== null && this.featureHomologs.length > 1"
      (click)="selectAllHomologs()"
    >
      Homologs of Selected Feature
    </button>
    <button
      mat-raised-button
      *ngIf="selectCtrl.value.type !== 'empty'"
      (click)="clearSelection()"
    >
      Clear Selection
    </button>
  </div>
</div>
<edit-regions
  *ngIf="selectCtrl.value.type === 'region'"
  class="editor-section"
  [geneGraphic]="geneGraphic"
  [regions]="getSelectedRegions(selectCtrl.value.ids_list)"
>
</edit-regions>
<edit-features
  *ngIf="selectCtrl.value.type === 'feature'"
  class="editor-section"
  [geneGraphic]="geneGraphic"
  [features]="getSelectedFeatures(selectCtrl.value.ids_list)"
>
</edit-features>
