<md-toolbar class="md-menu-toolbar">
	<md-menu-bar id="mainmenubar" ng-controller="popupCtrl">
		<md-menu>
			<button ng-click="$mdOpenMenu()" class="btn1 md-button md-raised md-primary">
				Input
			</button>
			<md-menu-content width="100px" ng-controller="FileCtrl">
				<md-menu-item >
					<input type="file" name="file" id="file" class="inputfile" on-read-file="parseFile($fileContent, $fileType)"/>
					<label for="file" class="md-button btn2" role="menuitem">
						Import a File<md-tooltip>You can import Genbank or SEED TSV files saved on your computer.</md-tooltip>
					</label>
				</md-menu-item>
				<md-menu-item>
					<button class="md-button btn2" ng-click="openPopup('GBSelect');">
							Fetch from NCBI
					</button>
				</md-menu-item>
				<md-menu-item>
					<md-menu>
						<button class="md-button btn3" ng-click="$mdOpenMenu()">Tutorial Files</button>
						<md-menu-content width="100px">
							<strong style="padding:5px">Tutorial 1</strong>
							<md-divider></md-divider>
							<md-menu-item>
								<button class="md-button btn2" ng-click="tutorialFile('/genegraphics/static/data/tutorial1/genegraphics_tutorial1_unedited.tsv','tsv');">
									Unedited
								</button>
							</md-menu-item>
							<md-menu-item>
								<button class="md-button btn2" ng-click="tutorialFile('/genegraphics/static/data/tutorial1/genegraphics_tutorial1_finished.tsv ','tsv');">
									Final Result
								</button>
							</md-menu-item>
							<strong style="padding:5px">Tutorial 2</strong>
							<md-divider></md-divider>
							<md-menu-item>
								<button class="md-button btn2" ng-click="tutorialFile('/genegraphics/static/data/tutorial2/tutorial2_finalproduct.tsv','tsv');">
									Final Result
								</button>
							</md-menu-item>
							<strong style="5px">Tutorial 3</strong>
							<md-divider></md-divider>
							<md-menu-item>
								<button class="md-button btn2" ng-click="tutorialFile('/genegraphics/static/data/tutorial3/tutorial3_SEEDexport.tsv','tsv');">
									Unedited
								</button>
							</md-menu-item>
							<md-menu-item>
								<button class="md-button btn2" ng-click="tutorialFile('/genegraphics/static/data/tutorial3/tutorial3_finalproduct.tsv','tsv');">
									Final Result
								</button>
							</md-menu-item>
						</md-menu-content>
					</md-menu>
				</md-menu-item>
			</md-menu-content>
		</md-menu>
		<md-menu>
			<button ng-click="$mdOpenMenu()" class="btn1 md-button md-raised md-primary">
				Clear
			</button>
			<md-menu-content width="100px" ng-controller="FileCtrl">
				<md-menu-item>
					<button class="md-button btn2" ng-click="clearAllGenomes();">
						Clear All Genomes
					</button>
				</md-menu-item>
				<md-menu-item>
					<button class="md-button btn2" ng-click="clearGraphSettings();">
						Clear Graph Settings
					</button>
				</md-menu-item>
			</md-menu-content>
		</md-menu>
		<md-menu>
			<button ng-click="$mdOpenMenu()" class="btn1 md-button md-raised md-primary">
				Graph Settings
			</button>
			<md-menu-content width="100px">
				<md-menu-item>
					<button class="md-button btn2" ng-click="openPopup('graphSizeDialog');">
						Size settings
					</button>
				</md-menu-item>
				<md-menu-item>
					<button class="md-button btn2" ng-click="openPopup('laneDialog');">
						Lane settings
					</button>
				</md-menu-item>
				<md-menu-item>
					<button class="md-button btn2" ng-click="openPopup('scaleDialog');">
						Scale settings
					</button>
				</md-menu-item>
				<md-menu-item>
					<button class="md-button btn2" ng-click="openPopup('shapeDialog');">
						Gene shape
					</button>
				</md-menu-item>
			</md-menu-content>
		</md-menu>
		<md-menu>
			<button ng-click="$mdOpenMenu()" class="btn1 md-button md-raised md-primary">
				Label Settings
			</button>
			<md-menu-content width="100px">
				<md-menu-item>
					<button class="md-button btn2" ng-click="openPopup('globalGenome');">
						Genome Labels
					</button>
				</md-menu-item>
				<md-menu-item>
					<button class="md-button btn2" ng-click="openPopup('globalGene');">
						Gene Labels
					</button>
				</md-menu-item>
			</md-menu-content>
		</md-menu>
		<button class="btn1 md-button md-raised md-primary" ng-click="openPopup('exportPanel');">
			Export
		</button>
		<span id="genefunction">{a graphSettings.displayedFunction a}</span>
	</md-menu-bar>
</md-toolbar>
