<span class="editor-section-title">Your GeneGraphics</span>
<mat-form-field appearance="fill">
  <mat-label>Selected GeneGraphic</mat-label>
  <mat-select [formControl]="selectCtrl" (selectionChange)="onSelect($event)">
    <mat-option
      *ngFor="let geneGraphic of geneGraphics;" 
      [value]="geneGraphic.id">
      {{ geneGraphic.title }}&nbsp;{{geneGraphic.id}}
    </mat-option>
    <mat-option value="0">Add new...</mat-option>
  </mat-select>
</mat-form-field>
<button mat-raised-button color="primary" (click)="onClickDelete()">Delete</button>
