<div class="editor-section">
  <div class="column">
    <div class="title-row">
      <span class="title-text">Global Editor</span>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Edit settings for...</mat-label>
      <mat-select [(value)]="editType">
        <mat-option
          *ngFor="let option of editTypeOptions"
          [value]="option.value"
          >{{ option.viewValue }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="editor-section" *ngIf="editType === 'geneGraphic'">
  <div class="column custom-width" [formGroup]="settingsForm">
    <div class="title-row">
      <span class="title-text">Gene Graphic Settings</span>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Image Width (px) </mat-label>
        <input
          matInput
          type="number"
          [value]="geneGraphic.width"
          formControlName="width"
          min="100"
          max="3000"
        />
        <mat-error *ngIf="settingsForm.get('width')?.invalid">
          100px-3000px
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Feature Height (px)</mat-label>
        <input
          matInput
          type="number"
          [value]="geneGraphic.featureHeight"
          formControlName="featureHeight"
          min="5"
          max="100"
        />
        <mat-error *ngIf="settingsForm.get('featureHeight')?.invalid">
          5px-100px
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row lane-settings">
      <div class="column no-width">
        <mat-checkbox
          [checked]="geneGraphic.showScale"
          formControlName="showScale"
          >Show Scale</mat-checkbox
        >
        <div formGroupName="laneSettings">
          <mat-checkbox
            [checked]="geneGraphic.multilane"
            formControlName="multilane"
            >Multiple Lanes</mat-checkbox
          >
        </div>
      </div>
      <div class="column no-width" formGroupName="laneSettings">
        <mat-checkbox
          *ngIf="!geneGraphic.multilane"
          [checked]="geneGraphic.overlap"
          formControlName="overlap"
          >Genes May Overlap</mat-checkbox
        >
        <mat-checkbox
          *ngIf="!geneGraphic.multilane && !geneGraphic.overlap"
          [checked]="geneGraphic.gaps"
          formControlName="gaps"
          >Keep Gaps Between Features</mat-checkbox
        >
      </div>
    </div>
  </div>
  <div class="column no-width">
    <edit-name
      class="column no-width"
      [items]="[geneGraphic]"
      [geneGraphic]="geneGraphic"
      type="geneGraphic"
    >
    </edit-name>
    <edit-text-props
      class="column no-width"
      [items]="[geneGraphic]"
      [geneGraphic]="geneGraphic"
      type="geneGraphic"
    ></edit-text-props>
  </div>
</div>
<edit-regions
  *ngIf="editType === 'region'"
  class="editor-section"
  [geneGraphic]="geneGraphic"
  [regions]="getAllRegions()"
>
</edit-regions>
<edit-features
  *ngIf="editType === 'feature'"
  class="editor-section"
  [geneGraphic]="geneGraphic"
  [features]="getAllFeatures()"
>
</edit-features>
