@charset "UTF-8";

[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{
	display:none !important;
}
ng\:form{
	display:block;
}
.ng-animate-block-transitions{
	transition:0s all!important;
	-webkit-transition:0s all!important;
}
.ng-hide-add-active,.ng-hide-remove{
	display:block!important;
}

.border-box {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

#widthslider {
	width: 100px;
}

#geneMenu {
	position: absolute;
	background-clip: padding-box;
	background-color: #FFFFFF;
	padding: 20px;
	border: 4px solid;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-color: #47a4da;
	box-shadow: 5px 5px 2.5px #387091;
	-webkit-box-shadow: 5px 5px 2.5px #387091;
	-moz-box-shadow: 5px 5px 2.5px #387091;
}

input[type="number"] {
	 width:60px;
}
input[type="text"] {
	 width:60px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

body {
	font-family: Arial;
	font-size: 14px;
}
body > span,
body > h1 {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
}

#titlecontainer {
	font-family: Arial;
	color: #47a3da;
	font-size: 1.9em;
}

#graphcontainer {
	overflow: auto;
}

#popupmenu {
	position: absolute;
	top: 200px;
	left: 35%;
	margin-top: -50px;
	margin-left: -50px;
	width: 250px;
	height: 150px;
	background-clip: padding-box;
	background-color: #FFFFFF;
	padding: 20px;
	border: 4px solid;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-color: #47a4da;
	box-shadow: 5px 5px 2.5px #387091;
	-webkit-box-shadow: 5px 5px 2.5px #387091;
	-moz-box-shadow: 5px 5px 2.5px #387091;
}

#exportpanel {
	position: absolute;
	top: 200px;
	left: 35%;
	margin-top: -50px;
	margin-left: -50px;
	width: 250px;
	height: 200px;
	background-clip: padding-box;
	background-color: #FFFFFF;
	padding: 20px;
	border: 4px solid;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-color: #47a4da;
	box-shadow: 5px 5px 2.5px #387091;
	-webkit-box-shadow: 5px 5px 2.5px #387091;
	-moz-box-shadow: 5px 5px 2.5px #387091;
}

button {
	background: #47a4da;
	background-image: -webkit-linear-gradient(top, #47a4da, #0d77b6);
	background-image: -moz-linear-gradient(top, #47a4da, #0d77b6);
	background-image: -ms-linear-gradient(top, #47a4da, #0d77b6);
	background-image: -o-linear-gradient(top, #47a4da, #0d77b6);
	background-image: linear-gradient(to bottom, #47a4da, #0d77b6);
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	-webkit-box-shadow: 0px 1px 3px #387091;
	-moz-box-shadow: 0px 1px 3px #387091;
	box-shadow: 0px 1px 3px #387091;
	font-family: Arial;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	border: solid #387091 1px;
	text-decoration: none;
	display: inline-block;
}

button.xoutbutton {
	position:absolute; 
	top:5px; 
	right:5px; 
	border-radius:16px;
}

button:hover{
	background: #51a8db;
	text-decoration: none;
}

button:[aria-expanded="true"]{
	background: #51a8db;
	text-decoration: none;
}

input[type=range][orient=vertical]
{
		writing-mode: bt-lr; /* IE */
		-webkit-appearance: slider-vertical; /* WebKit */
		width: 8px;
		height: 35px;
		padding: 0 5px;
}

#statusmessage{
	color: red;
}

.tabsClass md-content {
	background-color: transparent !important; }
.tabsClass md-content md-tabs {
	background: #FFFFFF;
	border: 1px solid #cbe4ea; }
.tabsClass md-content md-tabs md-tabs-wrapper {
	background: white; }
.tabsClass md-content h1:first-child {
	margin-top: 0; }