@charset "UTF-8";

[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{
	display:none !important;
}
ng\:form{
	display:block;
}
.ng-animate-block-transitions{
	transition:0s all!important;
	-webkit-transition:0s all!important;
}
.ng-hide-add-active,.ng-hide-remove{
	display:block!important;
}

.border-box {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

* {
    box-sizing: border-box
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgba(57,57,57, .9);
    border-radius: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(156, 156, 156, .9);
}

.iconbutton {
	height: 40px;
}

md-menu.fontSizeMenu {
	padding: 0 0 0 0;
}

#widthslider {
	width: 100px;
}

.md-autocomplete-suggestions-container.md-default-theme li .highlight, .md-autocomplete-suggestions-container li .highlight {
	color: #000000;
}

input[type="number"] {
	 width:80px;
}
input[type="text"] {
	 width:60px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

body {
	font-family: Arial;
	font-size: 12pt;
}

#genefunction {
	float: right;
	color: #000000;
}

#titlecontainer {
	font-family: Arial;
	color: #47a3da;
	font-size: 1.9em;
}

#graphcontainer {
	overflow: auto;
}

#popupbox {
	position: absolute;
	z-index: 1000;
	top: 200px;
	left: 35%;
	width: 410px;
	margin-top: -50px;
	margin-left: -50px;
	background-clip: padding-box;
	background-color: #FFFFFF;
	padding: 11px;
	border: 2px solid;
	border-color: #0d77b6;
	box-shadow: 5px 5px 2.5px #1d4359;
	-webkit-box-shadow: 5px 5px 2.5px #1d4359;
	-moz-box-shadow: 5px 5px 2.5px #1d4359;
}

#scrollpopup {
	display: none;
	position: absolute;
	z-index: 2000;
	top: 200px;
	left: 30%;
	margin-top: -50px;
	margin-left: -50px;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 11px;
	border-radius: 35px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
}

.material-icons.arrowicon {
	color: rgb(13,119,182);
	font-size: 150px;
}

#genevisswitch {
	width: 200px;
}

:active {
	outline: none;
}

:focus {
	outline: none;
}

.icoIndivBtn {
	border: none;
	background-color: #ffffff;
	display: inline-block;
	text-align: center;
	overflow: visible;
	width: 32px;
	height: 28px;
}

.icoFormatBtn {
	line-height: 22px;
	border: 1px solid #b1b1b1;
	border-color: transparent transparent transparent transparent;
	position: relative;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	background-color: #f0f0f0;
	display: inline-block;
	text-align: center;
	overflow: visible;
	width: 32px;
	height: 28px;
}

.icoFormatBtn:hover {
	border-color: #cccccc;
}

.icoFormatBtn:disabled {
	background-color: #f0f0f0;
	border-color: transparent transparent transparent transparent;
}

.customToolbar {
	background: #f0f0f0;
	border: 1px solid #b1b1b1;
	height: 34px;
	width: 225px;
	margin: 0 auto;
}

.customBtnGrp {
	display: inline-block;
}

.customBtnGrp:not(:first-child) {
	border-left: 1px solid #d9d9d9;
	padding-left: 3px;
	margin-left: 3px;
	display: inline-block;
}

.popupcontentsglb {
	width: 380px;
	margin: 0 auto;
}

span#colorbox {
	margin: 5px;
	padding: 0px 10px;
	border: 1px solid rgba(0, 0, 0, .8);
}

span#labeltext {
	margin: 30px;
}

md-content {
	z-index: 1;
}

md-autocomplete.fontFamily{
	width: 225px;
	margin: 0 auto;
}

md-autocomplete.md-default-theme button md-icon path, md-autocomplete button md-icon path {
	fill: rgb(0,0,0);
}
md-autocomplete md-autocomplete-wrap button {
	position: absolute;
	margin: auto;
	top: 4px;
	right: 2px;
}

.material-icons.blueicon {
	color: rgb(13,119,182); 
}

.material-icons.blackicon {
	color: rgb(0,0,0); 
}

.material-icons.grayicon {
	color: rgb(204, 204, 204); 
}

.material-icons.md-16 {
	font-size: 20px;
	height: 16px;
	width: 16px;
	vertical-align: text-top;
	line-height: 16px;
}

.material-icons.md-18 {
	font-size: 24px;
	height: 18px;
	width: 18px;
	vertical-align: text-top;
	line-height: 18px;
}

.xoutbutton {
	position:absolute; 
	top:5px; 
	right:5px; 
	border: none;
	background-color: Transparent;
}

.md-button.btn1 {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: 14px;
	text-transform: none;
	padding: 0px 4px 0px 4px;
	margin-left: 0px;
	margin-right: 0px;
	border: solid #387091 1px;
	text-decoration: none;
	display: inline-block;
}

.md-button.btn2 {
	font-size: 14px;
	text-transform: none;
	color: #000000;
}

.md-button.btn3 {
	font-size: 14px;
	text-transform: none;
	color: #000000;
}

.md-button.rbtn {
	font-size: 14px;
	text-transform: none;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	color: #000000;
}

.md-button.md-primary.md-raised.btn1:not([disabled]):hover {
	background-color: rgb(32, 162, 239);
	transition: 0.3s;
}
.md-button.btn2:not([disabled]):hover {
	background-color: rgb(230, 230, 230);
	transition: 0.3s;
}

.md-button.btn3:not([disabled]):hover {
	background-color: rgb(230, 230, 230);
	transition: 0.3s;
}

.md-button.rbtn:not([disabled]):hover {
	background-color: rgb(230, 230, 230);
	transition: 0.3s;
}

input[type=range][orient=vertical]
{
		writing-mode: bt-lr; /* IE */
		-webkit-appearance: slider-vertical; /* WebKit */
		width: 8px;
		height: 35px;
		padding: 0 5px;
}

#statusmessage{
	color: red;
}

h1 
{
font-family: 'Quicksand', sans-serif;
}
body
{
font-family: 'Raleway', sans-serif;
}

