#region-start-end{
  max-width: 212px;
}
.editor-section-column{
  align-items: center;
  max-width: 212px;
}

#error-message{
  color: red;
}

#ncbi-import-description{
  text-align: center;
  max-width: 212px;
  margin-top: auto;
}
